<app-header [title]="title.text" [drawer]="drawer"></app-header>
<app-sidenav (setSidenavControl)="setSideNav($event)">
    
    <ng-template #content>
        
        <mat-form-field class="product-search">
            <input matInput type="text" placeholder="Поиск товаров" (input)="search($event)">
        </mat-form-field>
        
        <mat-grid-list cols="4" rowHeight="500">
            <mat-grid-tile *ngFor="let product of products; index as i">

               <app-product-card [product]="product"></app-product-card>

            </mat-grid-tile>
        </mat-grid-list>

    </ng-template>

</app-sidenav> 
